/* Divider under collapsed headings */
.markdown-source-view
.cm-line:has(.cm-header-1, .cm-header-2):has(.cm-fold-indicator.is-collapsed)::after {
  content: "";
  display: block;
  margin-top: 30px;
  border-bottom: 2px solid var(--background-modifier-border);
  /* opacity: 0.4; */
}